@mixin form-field {
  select,
  textarea,
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="text"],
  input[type="tel"],
  input[type="url"],
  input[type="password"] {
    @content;
  }
}

@mixin form-field-text {
  textarea,
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="text"],
  input[type="tel"],
  input[type="url"],
  input[type="password"] {
    @content;
  }
}

@mixin form-field-check {
  input[type="checkbox"],
  input[type="radio"] {
    @content;
  }
}

@mixin form-placeholder() {
  &::-webkit-input-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &::placeholder {
    @content;
  }
}
